
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: registrycronjobs.tmax.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.lastScheduledTime
    name: LastScheduledTime
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: tmax.io
  names:
    kind: RegistryCronJob
    listKind: RegistryCronJobList
    plural: registrycronjobs
    shortNames:
    - rcj
    singular: registrycronjob
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: RegistryCronJob is the Schema for the jobs
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: RegistryCronJobSpec defines the desired state of RegistryJob
          properties:
            jobSpec:
              description: JobSpec is a spec for the job
              properties:
                priority:
                  description: Priority is an integer value, greater or equal to 0
                  type: integer
                syncRepository:
                  description: SyncRepository is a repository sync type job
                  properties:
                    externalRegistry:
                      description: ExternalRegistry refers to the ExternalRegistry
                      properties:
                        name:
                          description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                            TODO: Add other useful fields. apiVersion, kind, uid?'
                          type: string
                      type: object
                  required:
                  - externalRegistry
                  type: object
                ttl:
                  description: TTL is a time-to-live (in seconds) If 0, it is deleted
                    immediately If -1, it is not deleted If ttl > 0, it is deleted
                    after ttl seconds
                  type: integer
              required:
              - ttl
              type: object
            schedule:
              description: Schedule is a cron spec for periodic jobs
              type: string
          required:
          - jobSpec
          - schedule
          type: object
        status:
          description: RegistryCronJobStatus defines the observed state of RegistryJob
          properties:
            lastScheduledTime:
              description: LastScheduledTime is the latest time when the job is scheduled
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
